name: Flipkart Deal Bot

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ 8071333538:AAFY4GCn-g1yCBBq29Ne9ouB4xD8T35-1oA }}
          CHAT_ID: ${{ 1003563361184 }}
        run: |
          python main.py
